div{
    color: magenta;
}
#button1{
    background-color: turquoise;
}
#button2{
    background-color: turquoise;
}
#button3{
    background-color: turquoise;
}
#button4{
    background-color: turquoise;
}
#button5{
    background-color: turquoise;
}
#button6{
    background-color: turquoise;
}